<h2>Dropdown</h2>

<div>
  <label class="cdg-input-group" style="width: 500px">
    <span class="cdg-input-label">Input me</span>
    <cdg-dropdown title="Test Button">
      <cdg-dropdown-select>
        <cdg-dropdown-option value="1"
          >Test content dropdown 1</cdg-dropdown-option
        >
        <cdg-dropdown-option value="2"
          >Test content dropdown 2</cdg-dropdown-option
        >
        <cdg-dropdown-option value="3"
          >Test content dropdown 3</cdg-dropdown-option
        >
      </cdg-dropdown-select>
    </cdg-dropdown>
  </label>

  <div style="height: 50px"></div>

  <label class="cdg-input-group" style="width: 370px">
    <span class="cdg-input-label">Input me</span>
    <cdg-dropdown>
      <cdg-dropdown-select>
        <cdg-dropdown-option value="1"
          >Test content dropdown 1</cdg-dropdown-option
        >
        <cdg-dropdown-option value="2"
          >Test content dropdown 2</cdg-dropdown-option
        >
        <cdg-dropdown-option value="3"
          >Test content dropdown 3</cdg-dropdown-option
        >
      </cdg-dropdown-select>
    </cdg-dropdown>
  </label>

  <!-- <cdg-dropdown title="Test Button 111" width="327px" label="Text label">
    <cdg-dropdown-select>
      <div>Test content dropdown 111</div>
    </cdg-dropdown-select>
  </cdg-dropdown> -->
</div>

<div style="height: 2000px"></div>
