.required-mark {
  color: var(--secondary-red);
  margin-left: 4px;
}

input.cdg-input {
  appearance: none;
  border: 1px solid var(--border-color);
  color: var(--primary-color);
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
  padding: 8px 16px;
  height: 44px;
  box-sizing: border-box;
  border-radius: 4px;
  background-color: var(--background);
  &:focus {
    outline: 2px solid var(--accent);
  }

  &::placeholder {
    color: var(--grey50);
  }

  &[disabled] {
    color: var(--disabled-color);
    background-color: var(--disabled-background);
    cursor: not-allowed;
  }
}

.cdg-input-group {
  display: flex;
  flex-direction: column;
  gap: 4px;
  .cdg-input-label {
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: var(--grey90);
  }
  .cdg-helper-message {
    font-size: 10px;
    line-height: 15px;
    font-weight: 600;
    color: var(--grey50);
  }
  &.error {
    .cdg-input {
      border-color: var(--danger);
      border-width: 2px;
    }
    .cdg-helper-message {
      color: var(--danger);
    }

    .cdg-input-with-icon {
      cdg-icon,
      .cdg-icon {
        color: var(--danger);
      }

      &:has(.cdg-input:focus) {
        cdg-icon,
        .cdg-icon {
          color: var(--danger);
        }
      }
    }
  }
  &:has(input:disabled) {
    cursor: not-allowed;
    .cdg-input,
    cdg-icon,
    .cdg-icon {
      color: var(--disabled-color);
    }

    .cdg-input {
      background-color: var(--disabled-background);
    }
  }
}

.cdg-input-with-icon {
  position: relative;
  display: flex;
  flex-direction: column;
  cdg-icon,
  .cdg-icon {
    position: absolute;
    &:first-child {
      left: 16px;
    }
    &:last-child {
      right: 16px;
    }
    top: 50%;
    transform: translateY(-50%);
  }

  &:focus-within {
    cdg-icon:first-child,
    .cdg-icon:first-child {
      color: var(--accent);
    }
  }

  &.left {
    .cdg-input {
      padding-left: 48px;
    }
  }

  &.right {
    .cdg-input {
      padding-right: 48px;
    }
  }
}

label.cdg-checkbox {
  display: inline-flex;
  gap: 8px;
  align-items: center;
  position: relative;
  border-radius: 4px;
  &.rounded {
    &::before {
      border-radius: 1.5rem;
    }
  }

  input[type='checkbox'] {
    opacity: 0;
    position: relative;
    z-index: 1;
    margin: 4px;
    width: 16px;
    height: 16px;
  }

  span {
    padding-right: 3px;
  }

  &::before,
  &::after {
    content: '';
    position: absolute;
    cursor: none;
  }

  &::before {
    width: 1rem;
    height: 1rem;
    border: 1px solid var(--primary-color);
    border-radius: 3px;
    inset: 3px;
  }

  &:focus-within {
    outline: 2px solid var(--blue60);
  }

  &:has(input[type='checkbox']:checked) {
    &::before {
      background-color: var(--accent);
      background-repeat: no-repeat;
      background-position: center;
      border-color: var(--accent);
    }
    &::after {
      width: 8px;
      height: 4px;
      border-left: 2px solid #ffffff;
      border-bottom: 2px solid #ffffff;
      left: 7px;
      top: 8px;
      transform: rotate(-45deg);
    }
  }

  &:has(input[type='checkbox']:indeterminate) {
    &::before {
      background-color: var(--accent);
      border-color: var(--accent);
    }

    &::after {
      width: 0.65rem;
      height: 2px;
      background: #ffffff;
      top: 11px;
      left: 7px;
    }
  }

  &:has(input[type='checkbox']:disabled) {
    color: var(--disabled-color);
    &::before {
      border-color: currentColor;
    }
  }

  &:has(input[type='checkbox']:disabled:indeterminate),
  &:has(input[type='checkbox']:disabled:checked) {
    &::before {
      background-color: currentColor;
    }
  }
}

label.cdg-radio {
  display: inline-flex;
  gap: 8px;
  align-items: center;
  position: relative;
  border-radius: 4px;

  input[type='radio'] {
    opacity: 0;
    position: relative;
    z-index: 1;
    margin: 4px;
    width: 16px;
    height: 16px;
  }

  span {
    padding-right: 3px;
  }

  &::before,
  &::after {
    content: '';
    position: absolute;
    cursor: none;
  }

  &::after {
    left: 8px;
    width: 8px;
    height: 8px;
    transform: scale(0);
    border-radius: 4px;
    background-color: var(--accent);
    @extend %quickSmoothTransition;
  }

  &::before {
    width: 1rem;
    height: 1rem;
    border: 1px solid var(--primary-color);
    border-radius: 1.5rem;
    inset: 3px;
  }

  &:focus-within {
    outline: 2px solid var(--blue60);
  }

  &:has(input[type='radio']:checked) {
    &::before {
      border-color: var(--accent);
    }
    &::after {
      transform: scale(1);
      @extend %quickSmoothTransition;
    }
  }

  &:has(input[type='radio']:disabled) {
    color: var(--disabled-color);
    &::before {
      border-color: currentColor;
    }
    &::after {
      background-color: currentColor;
    }
  }
}
