cdg-action-bar,
.cdg-action-bar,
cdg-action-left-group,
.cdg-action-left-group,
cdg-action-center-group,
.cdg-action-center-group,
cdg-action-right-group,
.cdg-action-right-group {
  display: flex;
  gap: 16px;
  align-items: center;
}

cdg-action-bar,
.cdg-action-bar {
  width: 100%;
  .cdg-input {
    height: 35px;
  }
}

cdg-action-left-group,
.cdg-action-left-group {
  display: flex;
}

cdg-action-center-group,
.cdg-action-center-group {
  flex: 1;
  justify-content: center;
}

cdg-action-right-group,
.cdg-action-right-group {
  display: flex;
}
