@media screen and (max-width: 767px) {
  cdg-nav-rail.auto-collapse,
  .cdg-nav-rail.auto-collapse {
    width: 0;
    &:hover .cdg-nav-rail-inner,
    .cdg-nav-rail-inner {
      width: 0;
    }
    &[open='true']:hover,
    &[open='true'] {
      .cdg-nav-rail-inner {
        width: 270px;
      }
    }
  }
}
