.cdg-floating-content {
  display: block;
  visibility: hidden;
  background: var(--background);
  box-shadow: 0px 0.6px 1.8px rgba(0, 0, 0, 0.1),
    0px 3.2px 7.2px rgba(0, 0, 0, 0.13);
  border-radius: 4px;
  transition: visibility 0s, opacity 0.3s linear;
  position: absolute;
  height: 0;
  pointer-events: auto;
  z-index: 1000;
}

.cdg-floating-content-overlay {
  position: fixed;
  z-index: 1000;
  pointer-events: none;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.cdg-floating-content-backdrop {
  opacity: 0;
  visibility: visible;
  transition: visibility 1ms linear, opacity 1ms linear;
  position: absolute;
  inset: 0;
  z-index: 1000;
  pointer-events: auto;
  -webkit-tap-highlight-color: transparent;
}
